*{
    margin: 0;
    padding: 0;
    
}

.template{width:1000px; margin:0 auto;}
.clear{overflow:hidden;}

.header h1, .footer h2{
  text-align: center;
}
.header img{
  width:1000px;
}

.mainsection{
   margin-top: 50px;
    background: url("images/bg3.jpg") no-repeat;
    margin-bottom: 50px;
}


.left{
    float: left;
}
.left img{
    padding-top: 196px;
    width: 495px;
    height: 295px;
}
.right{
    padding-top: 50px;
    height: 650px;
    float: right;
    width: 490px;
}
.right h1{  
  color: #fff;
  padding-left: 15px;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-family: sans-serif;
  padding-top: 50px;

}
.right p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.719);
    padding-left: 138px;
    padding-right: 33px;
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.right button{
    text-decoration: none;
    padding: 20px;
    margin-left: 134px;
    background: #191238;
    margin-top: 20px;
    border: 1px solid #fff;
    color:#fff;
}

.right button span{
    text-decoration: none;
    color:#fff;
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    background: #191238;
} 


.right button:hover{
    background: #fff;
    color: #F87E61;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  