/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{margin: 0;
    padding: 0; 
    text-decoration: none;
} 
.template{width:1000px; margin:0 auto;}
.clear{overflow:hidden;}

/* navbar section */
.navbar{
    position: fixed;
    width: 100%;
     padding: 30px 0; 
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease; 
}
.navbar.sticky{
    padding: 15px 0;
    background: #fff;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{ 
    color: #fff; 
    font-size: 35px;
    font-weight: 600;
} 

.navbar.sticky .logo a {
    color: #F87B5D;
}
 .navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    
    color: #fff; 
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
     transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #000;
}
.navbar.sticky .menu li a{
    color: #F87B5D;
}
.navbar.sticky .menu li a:hover{
    color: #F87B5D;
}


.max-width{
    max-width: 1000px;
    padding: 0 80px;
    margin: auto;
}

/* header footer */
 .footer h2{
  text-align: center;
  background: #F87B5D;;
}
.header img{
  width:1000px;
}

/* <!-- Working Section  --> */
/* a bold goal */
.mainsection{
   margin-top: 100px;
    background: url("images/bg3.jpg") no-repeat;
    margin-bottom: 50px;
}

.left{
    float: left;
}
.left img{
    padding-top: 196px;
    width: 495px;
    height: 295px;
}
.right{
    padding-top: 50px;
    height: 650px;
    float: right;
    width: 490px;
}
.right h2{  
  color: #fff;
  padding-left: 15px;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-family: sans-serif;
  padding-top: 50px;
  font-weight: normal;

}
.right p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.719);
    padding-left: 138px;
    padding-right: 33px;
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.right button{
    
    padding: 20px;
    margin-left: 134px;
    background: #191238;
    margin-top: 20px;
    border: 1px solid #fff;
    color:#fff;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
}

.right button:hover{
    background: #fff;
    color: #F87E61;
}

/* about section */
.aboutsection{
    background: url("images/about us.jpg") no-repeat;
 min-height: 600px;
 margin-bottom: 50px;
 margin-top: 100px;
 
}
.aboutsection h2 { 
    color: #fff;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 450px;
    font-size: 40px;
    float: left;
    text-align: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.aboutsection h3 {
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 50px;
    padding-top: 90px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutsection button{
    margin-top: 50px;
    padding:  20px;
    margin-left: 50px;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bolder;
}
.aboutsection button:hover{
    background: #fff;
    color: #F87E61;
}
.v1{
    border-left: 1px solid #fff;
    height: 50px;
  margin-left: 65px;
  margin-top: 10px;
}